<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventar_Database.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Inventar_Database.My.MySettings>
            <setting name="check1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dtb1" serializeAs="String">
                <value>elektrometal</value>
            </setting>
            <setting name="check2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backup" serializeAs="String">
                <value>C:\ProgramData\tedhena_backup.accdb</value>
            </setting>
            <setting name="logo" serializeAs="String">
                <value />
            </setting>
            <setting name="tvsh" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ruajraportet" serializeAs="String">
                <value />
            </setting>
            <setting name="faturatofert" serializeAs="String">
                <value />
            </setting>
            <setting name="ruajgjendjen" serializeAs="String">
                <value />
            </setting>
            <setting name="ruajdtbpath" serializeAs="String">
                <value />
            </setting>
        </Inventar_Database.My.MySettings>
    </userSettings>
</configuration>
